nlp/bin/
nlp/obj/
stt/bin/
stt/obj/
vosk_stt/bin
vosk_stt/obj
vosk_stt/vosk-*
shortCuts/bin
shortCuts/obj
python_stt/vosk-*
.vs/
nlp/stt/nlp
nlp/stt/*.so
nlp/stt/linux-x64
nlp/stt/nlp.pdb
nlp/stt/vosk*
nlp/stt/sttlog.txt
nlp/stt/*.txt
Valet/Valet_Dashboard/bin
Valet/Valet_Dashboard/obj
