<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Valet_UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Valet_UI.Properties.Settings>
            <setting name="Keyword" serializeAs="String">
                <value>Valet</value>
            </setting>
            <setting name="Notification" serializeAs="String">
                <value>Input</value>
            </setting>
            <setting name="NotificationSetting" serializeAs="String">
                <value>True</value>
            </setting>
        </Valet_UI.Properties.Settings>
    </userSettings>
</configuration>